<div class="co-cta">
  <h3 class="co-headline">{{ headline }}</h3>

  {{#if img}}
    <img src="{{ img }}" />    
  {{/if}}

  <p>{{{ description }}}</p>

  <div class="co-cta-button-container">
    <a class="co-cta-button" data-sumome-listbuilder-id="{{ sumo }}">{{ cta }}</a>
  </div>
</div>